*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --light-green: #61b610;
    --white: #ffffff;
    --black: #000;
}

body {
    background-color: var(--white);
    text-align: center;
    padding: 10px;
}
h1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin: 1.2rem 0;
}

.player_court {
    background-color: var(--light-green);
    padding: auto;
    margin: auto;
    width: 300px;
    border-radius: 400px;
    flex-wrap: wrap;
    align-items: center;
    width: 33.33%;
    float: left;
    padding: 15px;
}
@media (max-width: 768px) {
    .courts {
        width: 100%;
    }
}
button {
    cursor: pointer;
    color: #0a0a23;
    background-color: var(--light-green);
    background-image: var(--light-green);
    border: 35px solid var(--light-green);
}
